.sidebar {
    padding: 0px;
    height: 100%;
    width: 250px;
    position: fixed;
}

.list {
    color: #fff;
    list-style: none;
    padding-left: 0px;
    font-size: 1.2em;
}

.list > li > a {
    text-decoration: none;
    display: block;
    color: white;
    padding: 12px 50px;
}

.list > li > a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-left: 5px solid white;
    padding: 12px 45px;
    color: white;
}

.header-logo {
    padding-top: 20px;
    padding-bottom: 20px;
}

.side {
    margin-left: 250px;
    padding-top: 20px;
}
