html {
  min-height: 100%;

  /* COLORS */
  --theme-color-darker: #222;
  --theme-color: #444;             /* OPACITY: 100% */
  --theme-color-very-dark: #555;   /* OPACITY:  90% */
  --theme-color-dark: #666;        /* OPACITY:  85% */
  --theme-color-normal: #777;      /* OPACITY:  75% */
  --theme-color-light: #888;       /* OPACITY:  40% */
  --theme-color-very-light: #ddd;  /* OPACITY:  20% */
}

body {
  background-color: var(--theme-color-very-light);
}

.backtobasics-logo {
  background: url("/static/img/favicon.png") center center no-repeat;
  background-size: 200px;
  height: 77px;
  width: 200px;
  margin: 0 auto;
  display: block;
}

.page-title {
  color: var(--theme-color-dark);
}

.codename {
  color: var(--theme-color-dark);
}

.panel-default > .panel-heading {
  color: #fff;
  background-color: var(--theme-color);
  border-color: var(--theme-color);
}

.panel-default {
  border-color: var(--theme-color);
}

.panel-primary > .panel-heading {
  color: #fff;
  background-color: gray;
  border-color: gray;
}

.panel-primary {
  border-color: gray;
}

.sidebar {
  background: var(--theme-color);
  background: -webkit-linear-gradient(var(--theme-color-darker), var(--theme-color), var(--theme-color-very-dark));
  background: -o-linear-gradient(var(--theme-color-darker), var(--theme-color), var(--theme-color-very-dark));
  background: -moz-linear-gradient(var(--theme-color-darker), var(--theme-color), var(--theme-color-very-dark));
  background: linear-gradient(var(--theme-color-darker), var(--theme-color), var(--theme-color-very-dark));
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: var(--theme-color);
}

.nav-pills li a {
    color: var(--theme-color-dark);
}

.breadcrumb-arrow li a {
  background-color: var(--theme-color);
  border: 1px solid var(--theme-color);
}

.breadcrumb-arrow li a:before {
  border-left-color: var(--theme-color);
}

.breadcrumb-arrow li a:after {
  border-left: 11px solid var(--theme-color-dark);
}

.breadcrumb-arrow li a:focus, .breadcrumb-arrow li a:hover {
  background-color: var(--theme-color-dark);
  border: 1px solid var(--theme-color-dark);
}

.breadcrumb-arrow li a:focus:before, .breadcrumb-arrow li a:hover:before {
  border-left-color: var(--theme-color-dark);
}

.breadcrumb-arrow li a:active {
  background-color: var(--theme-color-dark);
  border: 1px solid var(--theme-color-dark);
}

.breadcrumb-arrow li a:active:after, .breadcrumb-arrow li a:active:before {
  border-left-color: var(--theme-color-dark);
}

.breadcrumb-arrow li span {
  color: var(--theme-color-dark);
}

#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: var(--theme-color-light);
}
