DEBUG = True
ALLOWED_HOSTS = []

SOCIAL_AUTH_POSTGRES_JSONFIELD = True # If using postgres

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'HOST': 'localhost',
        'NAME': 'postgres',
        'USER': 'postgres',
    }
}

SOCIAL_AUTH_DISCORD_KEY = ""
SOCIAL_AUTH_DISCORD_SECRET = ""

BASICAUTH_USERS = {         # Used to auth the bot
    'username': 'password',
}
