{% load static %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>EpiLogin</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
</head>

<body>
    <div class="center-div">
        <div class="epilogin-logo"></div>

        <div class="confirm">
            Tout est bon, vous aurez bientot l'acces au serveur.
        </div>
    </div>    
</body>

</html>
