{% load static %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>EpiLogin</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
</head>

<body>
    <div class="center-div">
        <div class="epilogin-logo"></div>

        <div class="cgu row">
            <p>
                <input type="checkbox" onchange="toggleLink(this);">
                J'ai lu et j'accepte les <a href="/static/CGU.html">CGU</a> et l'utilisation de mes données tel que decrit dans les CGU.
            </p>
        </div>

        <a href="{% url 'social:begin' 'microsoft-graph' %}?next={{ request.GET.next }}" class="button" id="loginlink" style="pointer-events: none">
            Connect with Office 365
        </a>
    </div>

    <script type="text/javascript">
    function toggleLink(checkBox){
        var link = document.getElementById("loginlink");

        if (checkBox.checked)
            link.setAttribute("style", "pointer-events: auto")
        else
            link.setAttribute("style", "pointer-events: none")
    }
    </script>
</body>

</html>
