{% load static %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>EpiLogin</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
</head>

<body>
    <div class="center-div">
        <div class="backtobasics-logo"></div>
        <a href="{% url 'social:begin' 'discord' %}" class="button">Login</a>
    </div>
</body>

</html>
