<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>EpiLogin</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/dialog-polyfill.css' %}" rel="stylesheet" type="text/css"/>
    {% block css %}
    {% endblock %}

    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="{% static 'js/dialog-polyfill.js' %}"></script>
    {% block javascript %}
    {% endblock %}

    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
</head>
<body>
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
        <div class="mdl-layout__drawer">
            <header class="demo-drawer-header mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
                <img src="images/user.jpg" class="demo-avatar">
                <div class="demo-avatar-dropdown">
                    <span>{{ user.email }}</span>
                </div>
            </header>
            <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
                <a class="mdl-navigation__link" href="{% url 'admin:index' %}">
                    <i class=" material-icons">
                        supervisor_account
                    </i>
                    Admin
                </a>
                <a class="mdl-navigation__link" href="{% url 'users:home' %}">
                    <i class="material-icons">
                        home
                    </i>
                    Home
                </a>
                <a class="mdl-navigation__link" href="{% url 'logout' %}">
                    <i class="material-icons">
                        link_off
                    </i>
                    Logout
                </a>
            </nav>
        </div>

        {% block content %}
        {% endblock %}


    </div>

    {% block javascriptend %}
    {% endblock %}
</body>
</html>
