{% extends 'base.html' %}
{% load static %}

{% block content %}
    <header class="mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Servers</span>
        </div>
    </header>

    <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid">
            {% for server in servers %}
                <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
                    <div class="demo-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
                        <a href="{% url 'servers:info' server.pk %}">
                            <div class="mdl-card__title mdl-color--teal-300" style="background-image:url('https://cdn.discordapp.com/icons/{{ server.id }}/{{ server.icon_url }}.png');background-size: 100%;">
                            </div>
                            <div class="mdl-card__actions">
                                <p class="mdl-button">{{ server }}</p>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
